<h1>Roulette</h1>
<div class="form">
  <button (click)="onStart()" class="start" [disabled]="click">Start</button>
  <button (click)="onStop()" class="stop">Stop</button>
  <button (click)="onReset()" class="reset">Reset</button>
  <form>
    <input type="text" class="inputBet" #inputBet>
    <div class="radio">
      <label>
        <input type="radio" name="bet" value="black" #black>Black
      </label>
      <label>
        <input type="radio" name="bet" value="red" #red>Red
      </label>
      <label>
        <input type="radio" name="bet" value="zero" #zero>Zero
      </label>
    </div>
  </form>
  <span>Balance: <strong>{{ balance }}</strong> </span>
</div>
<hr>
<div class="cells">
  <div class="cell" *ngFor="let number of numbers" appColor="{{ number }}">{{ number }}</div>
</div>
