<h1>Roulette</h1>
<div class="form">
  <button (click)="onStart()">Start</button>
  <button (click)="onStop()">Stop</button>
  <button (click)="onReset()">Reset</button>
  <form>
    <input type="text">
    <label>
      <input type="radio">black
    </label>
    <label>
      <input type="radio">red
    </label>
    <label>
      <input type="radio">zero
    </label>
    <input type="radio">
    <span>Balance: 100</span>
  </form>
</div>
<hr>
<div class="cells">
  <div class="cell" *ngFor="let number of numbers" appColor="{{ number }}">{{ number }}</div>
</div>
